body {
  font-family: Arial, sans-serif;
  background: #DCDCDC;
  padding: 20px;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

a {
  color: #6c63ff;
  text-decoration: none;
}

.beaute {
  background: #EAEAEA;
  border-radius: 20px ;
  
}
