body {
  font-family: Arial, sans-serif;
  background: white ;
  padding: 20px;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

a {
  color: #6c63ff;
  text-decoration: none;
}

.beaute {
  background: #7F8487;
  border-radius: 20px ;
  
}

.le_petit {
  background: #CBCBCB;
  border-radius: 15px;
}
.le_gros {
  background: #CBCBCB;
  border-radius: 15px;
}
